@charset "UTF-8";

.wrap {
  width: 100%;
  height:100%;
  text-align:center;
}

.inner_wrap {
  display:inline-block;
}

.kakaoLogo {
	width: 400px;
	height: 50px;
}

.input_box_size {
	width:300px;
	height:30px;
}

.text_left {
	text-align:left;
}

.submit_btn {
	text-align:center;
}

.join-form-wrap .row .input-validation.error {
    background-position: 0 -100px;
}

.join-form-wrap .row .input-validation {
    position: absolute;
    top: 10px;
    right: 12px;
    display: block;
    margin: 0;
    width: 24px;
    height: 24px;
    background: url(https://image.thehyundai.com/hdmall/images/co/ic_check_validation.png) no-repeat 0 0;
    font-size: 0;
    line-height: 0;
    text-indent: 0;
}

