@charset "UTF-8";

#editor {
	width: 100%;
}

#email-form {
	
	width: 100%;
}

#subject {
	width: 100%;
	height: 40px;
	border: 0.5px solid #dadada;
	margin-bottom: 20px;
	padding-left: 10px;
}

.align1 {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 50px;
}