@charset "UTF-8";
.brands {
	padding-top: 0;
	padding-bottom: 60px;
}

.all-brand{
	border-right:3px solid;
	min-height:300px;
	position:relative;
}

.subs-brand{
	min-height:300px;
	position:relative;
}

.brand-image{
	overflow: hidden;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	margin-left: 17px;
	cursor: pointer;
}
.brand-logo{
	margin-left: 17px;
	width: 100px;
}

.brand-image > img{
	object-fit: cover;
	width: 100px;
	height: 100px;
}

.brand-logo{
	margin-top: 5px;
}
.brand-list{
	
	margin-top: 20px;
	display: inline-block;
}

.brandpage-logo{
	height: 85px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.product-category{
	margin-top: 30px
}
.product-category li{
	display: inline-block;
	
}

.product-category li a{
	color: #111111;
	margin-right: 25px;
	font-size: 15px;
    font-weight: 700;
}

.product-category li.active a{
	color: #333333;
	margin-right: 25px;
	font-size: 15px;
    font-weight: 700;
}

.product-category li a:hover{
	color: gray;
}